#output files and builded files
/dist
/node_modules
/build


#IDE files JetBrains
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace


#IDE files VSCODE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

#Temporary directories
.temp
.tmp

